@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Shrikhand&display=swap");
.login {
  top: 0;
  left: 0;
}
.login .row {
  margin: 0 !important;
}
.login .col-6 {
  margin: 0;
  padding: 0;
  max-width: 720px;
}
.login .col-6 img {
  width: 100%;
  height: 100vh !important;
}
.login .content {
  padding: 0 64px 0 64px;
}
.login .content .logo h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #538d22;
  margin: 0;
}
.login label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(16, 16, 16, 0.65);
  margin: 0;
}

.login input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  height: 48px;
}

.login .login-form h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  color: #101010;
  margin-bottom: 16px;
}
.login .form-input .email {
  margin-bottom: 16px;
}
.login .form-input {
  margin-bottom: 48px;
}
.login .btn-login {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #73a942;
  border-radius: 8px;
  height: 48px;
  margin-bottom: 8px;
}
.login .btn-login:hover {
  border: 2px solid #73a942;
  background: #FFFFFF;
  color: #73a942;
}
.login .form-button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(16, 16, 16, 0.65);
}

@media only screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .col-image {
    display: none;
  }
}
