@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Shrikhand&display=swap");
.register {
  top: 0;
  left: 0;
}
.register .row {
  margin: 0 !important;
}
.register .col-6 {
  margin: 0;
  padding: 0;
  max-width: 720px;
  min-height: 720px;
}
.register .col-6 img {
  width: 100%;
  height: 100vh !important;
  min-height: 720px;
}
.register .content {
  padding: 0 64px 0 64px;
}
.register .content .logo h1 {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
  line-height: 58px;
  color: #538d22;
  margin: 0;
}
.register label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(16, 16, 16, 0.65);
  margin: 0;
}

.register input {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #101010;
  height: 48px;
}
.register select {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #101010;
    height: 48px;
  }

.register .register-form h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 72px;
  color: #101010;
  margin-bottom: 16px;
}
.register .form-input .email {
  margin-bottom: 16px;
}
.register .form-input {
  margin-bottom: 48px;
}
.register .btn-register {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background: #73a942;
  border-radius: 8px;
  height: 48px;
  margin-bottom: 8px;
}
.register .btn-register:hover {
  border: 2px solid #73a942;
  background: #ffffff;
  color: #73a942;
}
.register .form-button p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(16, 16, 16, 0.65);
}

@media only screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }
  .col-image {
    display: none;
  }
}
